#alpha a {
    color: black;
    text-decoration: none;
}

#alpha a:hover{
    color: blue;
}

#alpha{
    font-size: 40px;
}

#word{
    font-size: 50px;
}

#main{
    text-align: center;
    margin-top: 15%;
}