#alpha a {
    color: black;
    text-decoration: none;
}

#alpha a:hover{
    color: rgb(94, 157, 191);
}

#title{
    margin-top: 5%;
    font-size: 50px;
}

#alpha{
    font-size: 24px;
}

#word{
    font-size: 27px;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url('../images/kirtland-temple-8949.jpeg');
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
}

#game{
    text-align: center;
    margin-top: 11%;
    background-color: rgba(252, 252, 252, 0.766);
    font-family:'Courier New', Courier, monospace
}

#info{
    text-decoration: none;
    color: blue;
}

#info:hover{
    text-decoration: underline;
}

#footer{
    font-size: 24px;
}